:root {
    --altura-da-mesa: 256px;
    --altura-da-carta: calc(var(--altura-da-mesa) - 32px);
    --amarelo: rgb(246, 193, 53);
    --amarelo-escuro: rgb(211, 124, 53);
    --cinza: rgb(67, 64, 69);
    --largura-da-mesa: calc(67vw - 64px);
    --largura-de-carta: calc((var(--largura-da-mesa) - 128px) / 5);
    --preto: rgb(17, 18, 15);
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.menu, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.menu {
    background-color: var(--amarelo-escuro);
    width: 33vw;
}

.informacoes {
    background-color: white;
    border: 4px solid black;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    width: 33vh - 32px;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
}

main {
    background-color: var(--preto);
    position: relative;
    width: 67vw;
}

.mesa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cinza);
    border: 4px solid var(--amarelo-escuro);
    border-radius: 16px;
    color: var(--cinza);
    height: var(--altura-da-mesa);
    width: var(--largura-da-mesa);
}

.lugar-de-carta {
    border: 1px solid var(--amarelo-escuro);
    height: var(--altura-da-carta);
    width: var(--largura-de-carta);
}

.cartas-lancadas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#versus {
    color: var(--amarelo-escuro);
    font-size: 96px;
    font-weight: bold;
    margin: 16px;
    padding: 16px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo-escuro);
    border: 4px solid black;
    border-radius: 16px;
    color: black;
    display: none;
    height: 128px;
    padding: 64px;
    position: absolute;
}